:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --outer-space: #041424;
    --outer-space-ast: #092138;

    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all 300ms ease;
}

.text__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title__error {
    color: var(--light-slate);
    font-size: 5rem;
}

h2.desc__error {
    color: var(--lightest-slate);
}

a.btn__error {
    margin-top: 1rem;
    color: var(--light-slate);
    background: var(--dark-navy);
    padding: 1.5rem;
    border-radius: 1vw;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid var(--light-slate);
}

a.btn__error:hover {
    background: rgba(0, 0, 0, 0.1);
}

span.desc__404 {
    color: rgb(207, 106, 106);
    padding-left: 1rem;
}

/* ===========> Medium Device <=========== */
@media only screen and (max-width: 1024px) {}

/* ===========> Small Device <=========== */
@media only screen and (max-width: 600px) {
    h1.title__error {
        font-size: 10vw;
    }

    h2.desc__error {
        font-size: 3vw;
    }

    a.btn__error {
        border-radius: 4vw;
        width: max-content;
        font-size: 3vw;
    }
}